/* ForgotPassword.css */
.Forgot-Container {
    max-width: 400px;
    margin: 100px auto; /* Center the container horizontally and add top margin */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fec534;
  }
  
  .Forgot-Container h2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #31383e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  p {
    margin-top: 10px;
  }
  