
  
  .star-rating button:hover,
  .star-rating button:focus,
  .star-rating .on {
    color:#ffc107; 
  }
 
  
  .star-rating button {
    transition: color 0.2s ease-in-out;
  }
  
  .card {
    font-family: 'Arial', sans-serif; 
    margin-top: 20px;
  }
  
  .card-header {
    background-color: #fff; 
    color: #333; 
    border-bottom: 1px solid #eee; 
  }
 
  .card-body {
    padding: 1.5rem;
    align-items: center;
  }
  
  .card-title {
    color: #333;
    margin-bottom: 1rem;
  }
  
  .card-text {
    color: #666;
    margin-bottom: 1rem;
  }
  
  .card-footer {
    background-color: #f8f9fa;
    color: #333;
    border-top: 1px solid #eee; 
  }
  
 
  .btn-primary {
    background-color:#ffc107; 
    border: none; 
  }
  
  
  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #ffc107; 
  }
  
  .starRating{

    display: flex;
    justify-content: center; 
    margin: 10px 0; 
  }